.slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      flex-wrap: wrap;
    }
    
    .slider-text {
      font-size: 24px;
      text-align: justify;
      width: 50%;
      padding: 0 20px;
    }
    
    .slider-image {
      margin-top: 5%;
      margin-bottom: 5%;
      height: 250px;
      width: 250px;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8%; /* add this property */
      margin-left: 8%;
    }
         
    .slider-image.hidden {
      opacity: 0;
    }
    
    .slider-buttons {
      position: absolute;
      bottom: 5%;
      margin-bottom: -5%;
      z-index: 1;
    }
    
    button {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: darkblue;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
    
    button:last-child {
      margin-right: 0;
    }
    
    button:hover {
      color: black;
      background-color: white;
      opacity: 70%;
      border-color: black;
      border-width: 2px;
    }
    
    