* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.baneri{
  height: auto;
}
.page-container {
  height: 100vh;
  transition: height 0.8s ease-out;
}

body {
  font-family: montserrat;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
}

a.logo:hover {
  background: none;
  color: white;
}

a.logo {
  color: white;
  padding-left: 2vw;
  font-size: 24px;
  line-height: 70px;
  font-weight: bold;
  margin-left: 4vw;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
  text-decoration: none;
}

nav ul li a {
  color: white;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
a:hover {
  background: white;
  color: black;
  transition: .8s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1600px) {
  nav {
    background: black;
    height: 60px;
    width: 100%;
  }
  
  a.logo {
    font-size: 20px;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
    text-decoration: none;
  }
  
  nav ul li a {
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a.active,
  a:hover {
    background: white;
    color: black;
    transition: .8s;
  }
}

@media (max-width: 1150px) {
  
  label.logo {
    font-size: 16px;
    padding-left: 50px;
  }
  
  nav ul li a {
    font-size: 16px;
  }
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #212121;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: white;
  }

  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
}

/* Credits */
.rectangle {
  background-color: rgb(160, 160, 160);
  border-top: solid black;
  border-top-width: 0.5vw;
  border-color: black;
  box-sizing: border-box;
  padding: 16px;
}

.slike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6%;
}

.image {
  width: 10vw;
  height: auto;
  max-width: 20vw;
  border-radius: 1vw;
  border-style: solid;
  border-color: black;
  border-width: 0.2vw;
}

.rectangle p{
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 2vw;
}

.rectangle h1{
  font-size: 4vw;
  text-align: center;
  margin-bottom: 3vw;
}

@media (max-width: 767px) {
  .rectangle p{
    font-size: 5vw;
    text-align: center;
    margin: 7vw;
  }
  
  .rectangle h1{
    font-size: 10vw;
    text-align: center;
  }

  .slike {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10vw;
    margin-left: 18vw;
  }

  .image {
    width: 100vw;
    height: auto;
    object-fit: cover;
    border-radius: 1vw;
    border-style: solid;
    border-color: black;
    border-width: 0.2vw;
  }
  
}
/* o gradjevinama grid */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex-basis: 33.33%;
  padding: 1vw;
  text-align: center;
}

.box img {
  max-width: 50%;
  height: auto;
  border: 0.2vw solid black;
  object-fit: cover;
  border-radius: 2.5vw;
}

.citatAutor p{
  font-size: 3rem;
  text-align: justify;
}
.citatAutor h1{
  font-size: 4rem;
  text-align: right;
}

.box p {
  font-size: 2vw;
  margin-top: 1vw;
}

@media (max-width: 767px) {
  .box {
    flex-basis: 50%;
  }

  .box p {
    font-size: 3vw;
  }

  .citatAutor p{
    font-size: 1.2rem;
    text-align: justify;
  }
  .citatAutor h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: right;
  }
}

@media (max-width: 350px) {
  .box {
    flex-basis: 100%;
  }

  .box p {
    font-size: 4vw;
  }
}

/* o licnostima grid */

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  flex-basis: calc(33.33% - 2vw);
  margin: 1vw;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.image-wrapper img {
  max-width: 100%;
  height: 20vw;
  border: 0.2vw solid black;
  object-fit: cover;
}

.image-wrapper p {
  margin-top: 1vw;
}

@media screen and (max-width: 768px) {
  .image-wrapper {
    flex-basis: calc(50% - 2vw);
  }
}

@media screen and (max-width: 480px) {
  .image-wrapper {
    flex-basis: calc(100% - 2vw);
  }

  .image-wrapper p {
    font-size: 12px;
  }
}

/* slider */


/* CSS for the enlarged image */
.enlarged-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.enlarged-image img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;
  box-sizing: border-box;
  margin: 0 auto;
}

.enlarged-image .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


h4 {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 0;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-text {
  flex: 1;
  margin-right: 2vw;
  text-align: justify;
  font-size: 20px;
  justify-content: center;
}

.slider-image {
  margin-left: 2vw;
}

.slider-image img {
  width: 28vw;
  height: auto;
}

.slider-buttons {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-dugme {
  font-size: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.slider-buttons button {
  margin: 0 5px;
}

@media only screen and (min-width: 769px) {
  .slider-text {
    font-size: 24px;
  }

  .slider-dugme {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 768px) {
  .slider-container {
    flex-direction: column;
    align-items: center;
  }

  .slider-text {
    flex: 1;
    margin-right: 0;
    margin-top: 10px;
    font-size: 5vw
  }

  .slider-image {
    flex: none;
    margin-left: 0;
    margin-top: 3vw;
    margin-bottom: 10px;
  }

  .slider-buttons {
    margin-top: 20px;
  }

  .slider-dugme {
    font-size: 20vw;
  }

  .slider-image img {
    width: 80vw;
    height: auto;
  }
}

/*  */
.page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.page.current {
  display: block;
  animation: slideIn 0.7s forwards;
}

.page.next {
  display: block;
  animation: slideOut 0.7s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-and-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.column {
  flex: 1;
  padding: 1vw;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
}

/* Styling for images */
.image-container img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  cursor: pointer;
  border: 0.3vw solid black;
  border-radius: 2vw;
}

.image-content {
  display: none;
  padding: 1vw;
}

.image-content h2 {
  margin-top: 0vw;
}

/* kvizovi */

/* kviz */
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-quiz-container {
  width: 70vw;
  height: 40rem;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5vw;
}

.game-details-container {
  width: 70vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-details-container h1 {
  font-size: 1.5vw;
}

.game-question-container {
  width: 9 0%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid darkgray;
  border-radius: 1vw;
}

.game-question-container h1 {
  font-size: 1.1rem;
  text-align: center;
  padding: 1vw;
}

.game-options-container {
  width: 100%;
  height: 14rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.game-options-container span {
  width: 45%;
  height: 5rem;
  border: 0.1vw solid darkgray;
  border-radius: 20px;
  overflow: hidden;
}

span label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

span label:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  color: white;
  background-color: darkgray;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked~.option {
  background: paleturquoise;
  color: black;
}

.next-button-container {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.next-button-container button {
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 0.1vw solid gray;
  cursor: pointer;
  outline: none;
}

.next-button-container button:hover {
  background-color: rgb(143, 93, 93);
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
  height: 20rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1 {
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p {
  color: white;
  text-align: center;
}

.modal-button-container {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button {
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 1vw;
}

.mo dal-button-container button:hover {
  background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 450px) {
  .game-quiz-container {
    width: 90%;
    height: 80vh;
  }

  .game-details-container h1 {
    font-size: 0.8rem;
  }

  .game-question-container {
    height: 6rem;
  }

  .game-question-container h1 {
    font-size: 0.9rem;
  }

  .game-options-container span {
    width: 90%;
    height: 2.5rem;
  }

  .game-options-container span label {
    font-size: 0.8rem;
  }

  .modal-content-container {
    width: 90%;
    height: 25rem;
  }

  .modal-content-container h1 {
    font-size: 1.2rem;
  }
}

@media(min-width : 450px) and (max-width : 700px) {
  .game-quiz-container {
    width: 90%;
    height: 80vh;
  }

  .game-details-container h1 {
    font-size: 1rem;
  }

  .game-question-container {
    height: 8rem;
  }

  .game-question-container h1 {
    font-size: 0.9rem;
  }

  .game-options-container span {
    width: 90%;
  }

  .modal-content-container {
    width: 90%;
    height: 25rem;
  }

  .modal-content-container h1 {
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.idi-nazad {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  padding: 1vw 1vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 3%;
}

.idi-nazad:hover {
  background-color: #4CAF50;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 0.1vw rgba(0, 0, 0, 0.2);
}

.progress-bar {
  width: 50vw;
  background-color: #f2f2f2;
  height: 20px;
  border-radius: 1vw;
  margin-bottom: 1vw;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: darkblue;
  border-radius: 1vw;
  transition: width 0.5s ease-in-out;
}

.idi-nazad-dugme {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  margin: 1vw;
}

.idi-nazad-dugme:hover {
  background-color: #4CAF50;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 0.1vw rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .idi-nazad-dugme {
    font-size: 4vw;
    margin: 3vw;
    padding: 12px 24px;
  }
}
